<configuration status="off">
 
	
   <!--先定义所有的appender-->    
    <appenders>
        <RollingRandomAccessFile name="xsxLog" fileName="${sys:catalina.home}/logs/xsx.log"
             filePattern="${sys:catalina.home}/logs/xsx-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss} %F%L %m%n " />
            <Policies>  
                <TimeBasedTriggeringPolicy interval="1" />  
                <SizeBasedTriggeringPolicy size="10 MB" />  
            </Policies>  
            <DefaultRolloverStrategy max="20" />
        </RollingRandomAccessFile>
        
    </appenders>    
    <!--然后定义logger，只有定义了logger并引入的appender，appender才会生效-->    
    <loggers>

        <root level="error" additivity="false">  
        	<appender-ref ref="xsxLog" />
    	</root>  
    </loggers>
</configuration>  